.form-page-container {
  display: none;
}
.form-page-container.active {
  display: block;
}

#addReviewForm {
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
}
#addReviewForm .form-pagination {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 20px;
}
#addReviewForm .form-page {
  display: flex;
  align-items: center;
  gap: 11px;
}
#addReviewForm .form-page-number {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border);
  border-color: var(--accent-color);
  border-radius: 6px;
  background-color: transparent;
  color: var(--secondary-color);
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  transition: ease 0.3s;
}
#addReviewForm .form-page-number.active {
  background-color: var(--accent-color);
}
#addReviewForm .form-page-name {
  color: var(--secondary-color);
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 14px;
}
#addReviewForm .form-row {
  display: flex;
  gap: 18px;
  width: 100%;
  margin-bottom: 24px;
}
#addReviewForm .form-row .form-group {
  margin: 0;
}
#addReviewForm .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
#addReviewForm .form-star-group {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 15px;
}
#addReviewForm .form-star ion-icon {
  font-size: 24px;
  color: var(--dark-text-color);
  transition: color 0.3s;
  cursor: pointer;
}
#addReviewForm .form-star ion-icon[name="star"] {
  color: var(--accent-color);
}
#addReviewForm .form-star-group .form-tip {
  margin-left: 12px;
}
#addReviewForm .form-file-box {
  width: 100%;
  margin-top: 20px;
  padding: 40px 100px;
  border: var(--border);
  border-style: dashed;
  border-width: 2px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  gap: 10px;
}
#addReviewForm .form-file-box:hover {
  background-color: var(--gray-background-color);
  border-color: var(--accent-color);
}
#addReviewForm .form-file-box ion-icon {
  font-size: 42px;
}
#addReviewForm .file-info {
  margin: 0;
  margin-top: 8px;
  color: var(--dark-text-color);
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}
#addReviewForm .file-info.error {
  color: crimson;
}
#addReviewForm .connect-profile {
  width: 100%;
  border: var(--border);
  border-radius: 8px;
  padding: 20px 22px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 16px;
}
#addReviewForm .connect-profile:hover {
  background-color: var(--gray-background-color);
  border-color: var(--accent-color);
}
#addReviewForm .connect-profile ion-icon {
  color: #2590ce;
  font-size: 24px;
}
#addReviewForm .form-group.notice {
  border: var(--border);
  border-radius: 8px;
  padding: 16px 10px;
  background-color: #dfffd6;
}
#addReviewForm .form-group.notice .form-label {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
}
#addReviewForm .form-group.notice .form-para {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
#addReviewForm .form-heading-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
}
#addReviewForm #pageTwo .form-heading-group {
  margin-bottom: 18px;
}
#addReviewForm .form-section-heading {
  color: var(--secondary-color);
  font-family: var(--text-font-family);
  font-weight: 700;
  font-size: 25px;
  margin: 0;
}
#addReviewForm .form-label {
  color: var(--secondary-color);
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
#addReviewForm .form-label .required {
  color: crimson;
}
#addReviewForm .error-message {
  color: crimson;
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
#addReviewForm .form-label.bold {
  font-weight: 700;
}
#addReviewForm .form-label.anonymous {
  margin-bottom: 10px;
}
#addReviewForm .form-label.anonymous,
#addReviewForm .form-label.consent {
  font-weight: 400;
  align-items: flex-start;
}
#addReviewForm .form-label.anonymous input,
#addReviewForm .form-label.consent input {
  margin-top: 5px;
}
#addReviewForm .form-para {
  margin: 0;
  color: var(--secondary-color);
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}
#addReviewForm .form-para.bold {
  font-weight: 600;
}
#addReviewForm .form-tip {
  margin: 0;
  color: var(--secondary-color);
  font-family: var(--text-font-family);
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
}
#addReviewForm .form-tip.optional {
  display: inline-block;
  font-family: var(--text-font-family);
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  padding: 3px 15px;
  border-radius: 30px;
  background-color: #effdf4;
  color: #1c9d72;
}
#addReviewForm input[type="file"] {
  display: none;
}
#addReviewForm input[type="text"],
#addReviewForm select,
#addReviewForm textarea {
  width: 100%;
  background-color: transparent;
  padding: 20px 22px;
  margin-top: 20px;
  outline: none;
  border: var(--border);
  border-radius: 16px;
  color: var(--dark-text-color);
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 16px;
  resize: vertical;
  transition: ease 0.3s;
}
#addReviewForm input[type="text"]:hover,
#addReviewForm input[type="text"]:focus,
#addReviewForm select:hover,
#addReviewForm select:focus,
#addReviewForm textarea:hover,
#addReviewForm textarea:focus {
  background-color: var(--gray-background-color);
  border-color: var(--accent-color);
}
#addReviewForm .custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 14px;
}
#addReviewForm .select2-container .select2-selection--single {
  height: 61px;
  outline: none;
  border: var(--border);
  border-radius: 16px;
  background-color: transparent;
  font-family: var(--text-font-family);
  font-size: 16px;
}
#addReviewForm
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 61px;
  padding-left: 22px;
  padding-right: 50px;
}
#addReviewForm
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 61px;
  right: 22px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__clear {
  height: 60px;
  margin-right: 50px;
  color: crimson;
}
.select2-dropdown {
  background-color: var(--white-background-color);
  border: var(--border) !important;
  border-color: #4e525542 !important;
  border-radius: 16px;
  font-family: var(--text-font-family);
  color: var(--dark-text-color);
  margin-top: 10px;
  box-shadow: var(--box-shadow);
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: fit-content !important;
}
.select2-container--default .select2-results > .select2-results__options li {
  border-bottom: var(--border);
}
.select2-container--default
  .select2-results
  > .select2-results__options
  li
  .selec2-course {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.select2-container--default
  .select2-results
  > .select2-results__options
  li
  .select2-course-platform {
  color: var(--text-color);
  background-color: var(--gray-background-color);
  border: var(--border);
  border-radius: 50px;
  padding: 2px 10px;
  font-size: 14px;
}
.select2-container--default
  .select2-results
  > .select2-results__options
  li:last-of-type {
  border-bottom: none;
}
.select2-container--open .select2-dropdown--below {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.select2-search--dropdown {
  padding: 10px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: var(--border);
  border-radius: 10px !important;
  outline: none;
  color: var(--dark-text-color) !important;
  font-family: var(--text-font-family) !important;
  font-size: 16px;
}
.select2-container--default
  .select2-search--dropdown
  .select2-search__field:focus {
  border-color: var(--accent-color);
}
.select2-course {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.select2-results__option {
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--accent-color);
  color: var(--dark-text-color);
}
.select2-add-missing {
  display: flex;
  align-items: center;
  gap: 13px;
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}
.select2-add-missing ion-icon {
  font-size: 24px;
  background-color: var(--gray-background-color);
  border: var(--border);
  border-radius: 4px;
  padding: 5px;
}
#addReviewForm select option {
  background-color: var(--gray-background-color);
  color: var(--dark-text-color);
  font-family: var(--text-font-family);
  font-size: 16px;
  padding: 12px 16px;
  border: var(--border);
  border-radius: 16px;
  cursor: pointer;
}
#addReviewForm select option:checked,
#addReviewForm select option:hover {
  background-color: var(--accent-color);
  color: var(--dark-text-color);
}
#addReviewForm .form-options-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 20px;
  margin-top: 20px;
}
#addReviewForm .form-option {
  border: var(--border);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 13px;
  color: var(--secondary-color);
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  transition: ease 0.3s;
}
#addReviewForm .form-option:hover {
  background-color: var(--gray-background-color);
}
#addReviewForm .form-option input {
  cursor: pointer;
  margin-right: 5px;
}
#addReviewForm .form-option input[type="radio"] {
  margin-top: -1px;
  display: none;
}
#addReviewForm .form-option:has(input[type="radio"]:checked) {
  background-color: var(--accent-color);
  color: var(--dark-text-color);
  border-color: var(--accent-color);
}
#addReviewForm .form-option img {
  border-radius: 0;
}
#addReviewForm .form-option .tooltip-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 5px;
  font-size: 16px;
  opacity: 0.5;
}
#addReviewForm .form-option .tooltip-wrapper:hover {
  opacity: 1;
}
#addReviewForm .form-option .tooltip-text {
  visibility: hidden;
  opacity: 0;
  width: 220px;
  background: var(--secondary-color);
  color: var(--light-text-color);
  text-align: left;
  padding: 8px 14px;
  border-radius: 7px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
  font-family: var(--text-font-family);
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.4;
}
#addReviewForm .form-option .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
#addReviewForm .form-option .tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
#addReviewForm .button-group {
  display: flex;
  gap: 20px;
}
#addReviewForm .form-button {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  color: var(--primary-color);
  background-color: #d4ffee;
  font-family: var(--text-font-family);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: ease 0.3s;
}
#addReviewForm .form-button:hover {
  color: #d4ffee;
  background-color: var(--primary-color);
}
#addReviewForm .form-button.submit {
  color: #e94c89;
  background-color: #fce8f0;
}
#addReviewForm .form-button.submit:hover {
  color: #fce8f0;
  background-color: #e94c89;
}

@media (max-width: 425px) {
  #addReviewForm .form-section-heading {
    font-size: 20px;
  }
  #addReviewForm .form-row {
    flex-direction: column;
  }
  #addReviewForm .form-group {
    margin-bottom: 18px;
  }
  #addReviewForm .form-options-group {
    column-gap: 10px;
    row-gap: 12px;
  }
}
