/* importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Georgian:wght@100..900&display=swap");

:root {
  /* global colors */
  --primary-color: #044f31;
  --secondary-color: #011813;
  --text-color: #4e5255;
  --dark-text-color: #000000;
  --light-text-color: #ffffff;
  --accent-color: #06ef91;
  --button-text-color: #020120;
  --gray-background-color: #f8f8f8;
  --white-background-color: #ffffff;
  --border-color: #e7e7e8;

  /* global fonts */
  --primary-font-family: "Inter", sans-serif;
  --primary-font-size: 48px;
  --primary-font-weight: 700;

  --secondary-font-family: "Noto Sans Georgian", sans-serif;
  --secondary-font-size: 20px;
  --secondary-font-weight: 600;

  --text-font-family: "Noto Sans Georgian", sans-serif;
  --text-font-size: 16px;
  --text-font-weight: 400;

  --accent-font-family: "Inter", sans-serif;
  --accent-font-size: 16px;
  --accent-font-weight: 600;

  /* border */
  --border: solid 1px var(--border-color);

  /* box shadow */
  --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

*::selection {
  background-color: var(--accent-color);
  color: var(--button-text-color);
}

body {
  margin: 0 !important;
}
